.pokemon-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
}
   .pokemon-card img {
    width: 100px;
    height: 100px;
}

.item-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
}

.move-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
}

.type-card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
}

#typeCheckboxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.type-option {
  background: #eee;
  padding: 5px 10px;
  border-radius: 8px;
}
